@media (max-width:768px)

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 1.5;
    background-color: #def0fa;
    color: #222;
}

header {
    background-color: #1f3c88;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #162d66;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}
nav a{
    color: whitesmoke;
    text-decoration: underline;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
    color: #ffd700;
}
main{
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

h2{
    color: #162d66;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #1f3c88;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }

    table th, table td{
        border: 1px solid #ccc
        padding 10px;
        text-align: center;
    }

    table th{
        background-color: #1f3c88;
        color: whitesmoke;
    }

section{
    background-color: rgb(195, 206, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

section:last-of-type{
    margin-bottom: 0;
}

a {
    color: #1f3c88;
}
a:hover{
    color: #ffd700;
}

@media (max-width: 768px) {
    nav{
        display: block;
        text-align: center;
    }
    nav a{
        display: block;
        text-align: 10px 0;
    }
    main{
        padding: 15px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
}

accordion {
    background-color: #1f3c88;
    color: whitesmoke;
    cursor: pointer;
    padding: 12px;
    border: none;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.panel {
    display: none;
    padding: 10px;
    margin-top: 5px;
    background-color: whitesmoke;
    border-radius: 6px;
}

form {
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea{
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: #1f3c88;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #ffde26;
}

label {
    font-weight: bold;
}

.successMessage {
    position: fixed;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dbfbe2;
    color: #155724;
    border: 1px solid #c3e6cb;#
    padding: 24px 40px;
    border-radius: 8px;
    font-size: 22px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index:9999;

    opacity: 0;
    transition: opacity 3s ease;
    pointer-events: none;
}
.showMessage {
    opacity: 1;
}

#formMessage {
    margin-top: 20px;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
}

iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.video {
    text-align: center;
    margin-top: 20px;
}

.video iframe {
    max-width: 100%;
}

.carousel {
    position: relative;
    max-width: 700px;
    margin: 30px auto;
}

.carousel-img {
    width: 100%;
    display: none;
    border-radius: 8px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.prev{
    left: 10px;
}

.next{
    right:10px;
}

.contact-bg{
    position: relative;
    padding: 80px 0;
}

.contact-bg-images{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.contact-content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.bg-slide{
    pointer-events: none;
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

.bg-slide.active{
    opacity:0.25;
}



.contact-intro{
    border: 2px solid red;

    background-color:rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 8px;

    width: 600px;
    margin: 0 auto 25px auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

div.contact-intro{
    border: 3px solid;
}

.contact-intro h2{
    text-align: center;
    margin-top: 0;
    color: #1f3c88;
}

.contact-intro p{
    margin: 10px 0 0;
    font-size: 15px;
    color: black;
}

#contactForm input,
#contactForm textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
}

#contactForm{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.news-section {
    background-color: #f2f6ff
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.news-section h2 {
    margin-top: 0;
    color: #1f3c88;
}

.news-item {
    margin: 12px 0;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 6px;
}

.news-item a {
    text-decoration: none;
    color: #1f3c88;
}

.news-item a:hover {
    color: #ffcc00;
}